.form-control {
    box-shadow: none;
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.list-group .list-group-item:nth-child(2) {
    border-top: none;
}

.list-group .list-group-item:last-child {
    border-radius: 0;
}

.badge {
    background-color: #d9534f;
}
